*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.imgheader {
   height: 10vh;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: white;
    
}

.navlien {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: system-ui;
}
header{
    background-image: url(assets/architecte-interieur/illustration-plan.jpg);
   background-size: cover;
   background-position: center;
   height: 100vh;
}
.hero {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container{
    margin: auto;
    border: solid black;
    padding: 2vh;
}

.promesse2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

img.imgpromess {
    max-height: 70vh;
    display: flex;
    flex-direction: column;
}

.liste{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.promesse {
    text-align: center;
}

section.Services.proposés {
    text-align: center;
}

img.imgarticle {
    height: 50vh;
    width: 100%;
}

article {
    border: solid black 1px;
    margin: 3vh;
    width: 50vh;
    text-align: center;
}

a.article1 {
    background-color: beige;
    color: black;
    border: black solid 1px;
    box-shadow: gray 2px
}
a.article2 {
    background-color: beige;
    color: black;
    border: black solid 1px;
}
a.article3 {
    background-color: beige;
    color: black;
    border: solid 1px;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article.hajde {
    background-color: darkseagreen;
}

article.hajde2 {
    background-color: darkslateblue;
}

article.hajde3 {
    background-color: deeppink;
}